<search_organizations></search_organizations>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
<script src="<%= static_path(@conn, "/js/search_organizations.js") %>"></script>
